body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1c2331; /* Dark Blue */
    color: #000; /* Black */
}


nav {
    background-color: #1c2331; /* Dark Blue */
    color: #fff; /* White */
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff; /* White */
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #bd7dbd; /* Purple */
}

header {
    background-color: #1c2331; /* Dark Blue */
    color: #fff; /* White */
    text-align: center;
    padding: 50px 0;
}

section {
    margin: 40px;
}


h1, h2 {
    color: #bd7dbd	; /* Light purp */
}

p {
    margin-bottom: 20px;
    color: whitesmoke;
}

.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-section {
    text-align: center;
    margin: 20px;
}

.image-section img {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-section p {
    margin-top: 10px;
    font-size: 14px;
    color: #666;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #1c2331; /* Dark Blue */
    color: #fff; /* White */
}

.social-media-buttons {
    display: flex;
    justify-content: left;
    margin-top: 20px;
}

.social-button {
    margin: 0 10px;
}

.social-button img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.social-button img:hover {
    transform: scale(1.2);
}
